H2 {
  font-size: 25px !important;
  padding: 5px !important;
  margin-bottom: 0 !important;
  margin-top: 30px !important;
}

.h2_border {
  border-bottom-color: brown;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  height: 4px !important;
  width: 50px !important;
  z-index: 1119999;
  margin-bottom: 20px;
}
