<app-nav-bar></app-nav-bar>
<mat-card style="margin: auto!important; width: 60%!important; padding: 48px !important;">


  <label class="fecha_card">14 DICIEMBRE 15HS</label>
  <mat-card-content>
    <mat-card-title>

      <button mat-button #back matSuffix mat-icon-button style="position: absolute !important; left: 16px!important;"
              [routerLink]="''">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 style="margin-left: 50px!important;">

        TITULO PRINCIPAL DE LA ACTIVIDAD
        <div class="h2_border"></div>
      </h2>

    </mat-card-title>
    <mat-card-content>
      <div *ngFor="let item of listDetalle">
        <mat-card-subtitle>
          {{item.titulo}}
        </mat-card-subtitle>
        <p>
          {{item.dsc}}
        </p>

        <img src="{{item.urlDecode}}" alt="" width="100%" *ngIf="item.urlDecode">
      </div>

      <mat-card-footer>
        help@lipsum.com
        Privacy Policy

      </mat-card-footer>
    </mat-card-content>

  </mat-card-content>

</mat-card>

<app-footer></app-footer>
