.right_top {
  position: absolute;
  right: 20px;
  top: 15px;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td, th {
  min-width: 10%;
}
.blue-state {
  background-color: #40c5e8 !important;
}

.green-state {
  background-color: #78c978 !important;
}

.red-state {
  background-color: #fe5555 !important;
}
