<app-nav-bar></app-nav-bar>
<br>
<br>
<div class="col-lg-8 offset-lg-2">
  <mat-card>
    <mat-card-header class="p-3">
      <mat-card-title>
        <br>

        DOCUMENTOS REGISTRADOS
        <button mat-fab color="accent"
                routerLink="/reg-doc"
                matTooltip="Agregar Documento"
                matTooltipPosition="left"
                class="right"
                aria-label="Example icon button with a bookmark icon">
          <mat-icon>note_add</mat-icon>
        </button>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content class="p-3">
      <mat-form-field style="width: 30%!important;">
        <mat-label>Filtro</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
      </mat-form-field>

      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataTable" matSort>

          <!-- ID Column -->
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> #</th>
            <td mat-cell *matCellDef="let row"> {{row["rowNumber"]}} </td>
          </ng-container>

          <!-- Progress Column -->
          <ng-container matColumnDef="progress">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Acto Procesal</th>
            <td mat-cell *matCellDef="let row"> {{row.cActoProcesal}}</td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Recurso/sala/año</th>
            <td mat-cell *matCellDef="let row"> {{row.recurso}} </td>
          </ng-container>

          <!-- Color Column -->
          <ng-container matColumnDef="color">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Expediente</th>
            <td mat-cell *matCellDef="let row"> {{row.expediente}} </td>
          </ng-container> <!-- Color Column -->

          <ng-container matColumnDef="color2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha Ingreso</th>
            <td mat-cell *matCellDef="let row"> {{row.fechaIngreso |date:"d MMMM y hh:mm a": 'es'}} </td>
          </ng-container>
          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Estado</th>
            <td mat-cell *matCellDef="let row"

            >
              <span
                style="color: white;padding: 5px"
                [class.blue-state]="row.lEstado=='EN'"
                [class.green-state]="row.lEstado=='RE'"
                [class.red-state]="row.lEstado=='EL'"

              >

                {{row.estadoValue}}
              </span>
              <span
                style="margin-left: 30px"
                matTooltip="Observacion"
                matTooltipPosition="right"
                *ngIf="row.observacion!=''"
              >
              OBS.
              </span>

            </td>
          </ng-container>


          <ng-container matColumnDef="options">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> options</th>
            <td mat-cell *matCellDef="let row">

              <button
                (click)="onClickEditarDocumentoListener(row)"
                *ngIf="row.lEstado=='RE'"
                mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>edit</mat-icon>
              </button>
              <button
                *ngIf="row.lEstado=='RE'"
                (click)="onClickEnviarDocumentoListener(row)"
                mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>send</mat-icon>
              </button>
              <button
                *ngIf="row.lEstado=='EN'"
                mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <mat-icon>print</mat-icon>
              </button>
            </td>
          </ng-container>


          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

          <!-- Row shown when there is no matching data. -->
<!--          <tr class="mat-row" *matNoDataRow>-->
<!--            <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>-->
<!--          </tr>-->
        </table>

<!--        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>-->
      </div>


    </mat-card-content>

  </mat-card>
</div>
<br>
<br>

<app-footer></app-footer>
