<app-nav-bar></app-nav-bar>
<div class="">


  <mat-card-content>


    <div class="row">

      <div class="col-sm-12 col-md-5 card_about_content ">
        <button mat-button #back matSuffix mat-icon-button style="position: absolute !important; left: 16px!important;"
                [routerLink]="''">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <h2 style="margin-left: 50px!important;">
          {{item.titulo}}
          <div class="h2_border"></div>
        </h2>
        <div>
          <p>
            {{descripcionPage}}
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-7 ">
        <img [src]="item.urlDecode" alt="" class="col-12">
      </div>

      <div class="row" style="background-color: #b48af1;">
        <div class="col-sm-12 col-md-6 card_about_content ">
          <div class="card_item_about">

            <h2 style=" text-align: center;">MISIÓN</h2>
            <!--            <img src="{{item.urlDecode}}" alt="" class="img_round" width="100%" *ngIf="item.urlDecode">-->
            <mat-card-content style="padding: 16px;font-size: 30px!important;line-height: 5">
              <mat-card-title>
                {{mision["titulo"]}}
              </mat-card-title>
              <p>
                {{mision["descripcion"]}}
              </p>
            </mat-card-content>

          </div>
        </div>

        <div class="col-sm-12 col-md-6 card_about_content">
          <div class="card_item_about">

            <h2 style=" text-align: center;">VISIÓN</h2>
            <!--            <img src="{{item.urlDecode}}" alt="" class="img_round" width="100%" *ngIf="item.urlDecode">-->
            <mat-card-content style="padding: 16px">
              <mat-card-title>
                {{vision["titulo"]}}
              </mat-card-title>
              <p>
                {{vision["descripcion"]}}
              </p>
            </mat-card-content>

          </div>
        </div>

      </div>


    </div>


    <div class="container">
      <div class="row">

        <h2>OUR MANAGEMENT TEAM</h2>
        <div class="col-sm-6 card_about_content">
          <mat-card class="card_item_about">
            <img src="{{contactoData.urlDecode}}" alt="" class="img_round" width="100%"
                 *ngIf="contactoData.urlDecode">

            <mat-icon aria-hidden="false" style=" transform: scale(4);" aria-label="Example home icon">
              account_circle
            </mat-icon>

          </mat-card>
        </div>

        <div class="col-sm-6 card_about_content">
          <mat-card class="card_item_about">
            <img src="{{contactoData.urlDecode}}" alt="" class="img_round" width="100%"
                 *ngIf="contactoData.urlDecode">
            <mat-icon aria-hidden="false" style=" transform: scale(4);" aria-label="Example home icon">
              account_circle
            </mat-icon>
          </mat-card>
        </div>
      </div>
    </div>


    <mat-card-footer>


    </mat-card-footer>
  </mat-card-content>


</div>

<app-footer></app-footer>
