<app-nav-bar></app-nav-bar>
<br>
<br>
<div class="container">


  <div class="row">

    <button mat-icon-button color="warn"
            matTooltip="VOLVER"
            matTooltipPosition="left"
            routerLink="/main"
            class="sm-hide"
            STYLE="position: absolute;left: 20%"
            aria-label="Example icon button with a bookmark icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button mat-icon-button color="warn"
            matTooltip="VOLVER"
            matTooltipPosition="left"
            routerLink="/main"
            STYLE="position: absolute;left: 10px"
            class="lg-hide"
            aria-label="Example icon button with a bookmark icon">
      <mat-icon>arrow_back</mat-icon>

    </button>

    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <mat-card class="card_registro">
        <mat-card-header class="p-3">
          <mat-card-title>
            <br>
            BUSCAR EXPEDIENTE
            <button mat-fab color="primary"
                    matTooltip="Buscar Expediente"
                    matTooltipPosition="left"
                    class="right"
                    [class.hide]="dataFormEncontrado.recursoValue!=''"
                    (click)="onClickBuscarExpedienteListener()"
                    aria-label="Example icon button with a bookmark icon">
              <mat-icon>search</mat-icon>

            </button>
            <button mat-fab color="warn"
                    matTooltip="Reiniciar Busqueda"
                    matTooltipPosition="left"
                    class="right"
                    [class.hide]="dataFormEncontrado.recursoValue==''"
                    (click)="onClickCancelarBuscarExpedienteListener()"
                    aria-label="Example icon button with a bookmark icon">
              <mat-icon>clear</mat-icon>
            </button>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-3">
          <div class="row">

            <mat-form-field class="example-full-width col-lg-6 col-sm-12">
              <mat-label>RECURSO</mat-label>
              <input matInput readonly placeholder="seleccionar en el Boton"
                     [(ngModel)]="dataFormEncontrado.recursoValue">
            </mat-form-field>


            <mat-form-field class="example-full-width col-lg-6 col-sm-12">
              <mat-label>EXPEDIENTE</mat-label>
              <input matInput readonly placeholder="seleccionar en el Boton"
                     [(ngModel)]="dataFormEncontrado.expedienteValue">
            </mat-form-field>


          </div>

        </mat-card-content>

      </mat-card>
    </div>

    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <mat-card class="card_registro">
        <mat-card-header class="p-3">
          <mat-card-title>
            <br>
            DATOS DOCUMENTOS

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-3">
          <div class="row">

            <mat-form-field class="example-full-width col-lg-6 col-sm-12">
              <mat-label>TIPO ESCRITO</mat-label>
              <mat-select [(ngModel)]="dataFormEncontrado.tipoEscritoId"

              >
                <mat-option
                  (onSelectionChange)="onChangeValue('T_ESC',esc.x_documento)"
                  *ngFor="let esc of SEL_ACTOPROCESAL" [value]="esc.c_acto_procesal">
                  {{esc.x_documento}}
                </mat-option>
              </mat-select>
            </mat-form-field>


            <mat-form-field class="example-full-width col-lg-6 col-sm-12">
              <mat-label>OBSERVACION</mat-label>
              <textarea matInput class="mat-focused"
                        [(ngModel)]="dataFormEncontrado.observacionValue"
                        placeholder="ingrese una observacion"> </textarea>
            </mat-form-field>


          </div>

        </mat-card-content>

      </mat-card>
    </div>

    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <mat-card class="card_registro">
        <mat-card-header class="p-3">
          <mat-card-title>
            <br>
            PARTES INVOLUCRADAS
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-3">

          <div class="row">


            <p class="col-12" *ngIf="PERSONA_lIST.length==0" style="color: #b54444; padding-left: 30px">
              Debe seleccionar un expediente primero
              <mat-icon>warning</mat-icon>
            </p>


            <div class="p-2 col-lg-12" *ngFor="let itemPersona of PERSONA_lIST">
              <mat-card class="">
                <button mat-icon-button color="warn"
                        *ngIf="PERSONA_lIST.length>1"
                        style=" position: absolute; right: 8px "
                        (click)="onDeleteParteClickListener(itemPersona)"
                        aria-label="Example icon button with a heart icon">
                  <mat-icon>delete</mat-icon>
                </button>
                <mat-card-header class="p-2">
                  <mat-card-title>
                     <span class="material-icons">
                      account_circle
                     </span>
                    {{itemPersona.x_ape_paterno + " " + itemPersona.x_ape_materno}} {{itemPersona.x_nombres}}
                  </mat-card-title>
                  <!--                  <mat-card-subtitle style="padding-left: 30px">-->

                  <!--                  </mat-card-subtitle>-->
                </mat-card-header>
                <mat-card-content class="pt-1 p-2">
                  <p style="padding-left: 30px">{{itemPersona.xTipoDocumentoAbrevi}} :
                    {{itemPersona.x_doc_id}}
                  </p>
                </mat-card-content>
              </mat-card>
            </div>
          </div>
        </mat-card-content>

      </mat-card>
    </div>

    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <mat-card class="card_registro">
        <mat-card-header class="p-3">
          <mat-card-title>
            <br> ADJUNTAR ARCHIVOS

          </mat-card-title>


        </mat-card-header>
        <mat-card-content class="p-3">
          <div class="">
            <input type="file" style="display: none" #fileInput
                   accept="application/pdf"
                   [multiple]="true"
                   (change)="onChangeFileInput()"/>
            <button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
              <mat-icon>attach_file</mat-icon>
              SELECCIONAR ARCHIVO
            </button>

            <p class="file-name" *ngIf="!files; else fileName">NO ha seleccionado ningun archivo</p>
            <ng-template #fileName>
              <p class="file-name">{{ files?.length }} archivo(s) Seleccionados</p>
            </ng-template>

            <button mat-fab
                    (click)="onUploadFilesClickListerner()"

                    color="primary"
                    matTooltip="Agregar Archivo"
                    matTooltipPosition="left"
                    style="right: 16px; position: absolute"
                    aria-label="Example icon button with a bookmark icon">
              <mat-icon>upload_file</mat-icon>
            </button>
          </div>
          <br>

          <div class="row">
            <mat-progress-bar [class.hide]="hideProggesUpload"
                              mode="indeterminate"></mat-progress-bar>

            <div class="p-2 col-lg-12" *ngFor="let itemFile of FILES_UPLOADS ;let i = index">
              <mat-card class="">
                <mat-card-header class="p-2">

                  <button mat-icon-button color="warn"

                          style=" position: absolute; right: 8px "
                          (click)="onDeleteFileClickListener(itemFile)"
                          aria-label="Example icon button with a heart icon">
                    <mat-icon>delete</mat-icon>
                  </button>

                  <mat-card-title>

                    <br>


                    <span class="material-icons">
                      <img src="assets/pdf.png" height="32px" alt="">
                     </span>
                    <a style="text-decoration: none" [href]="itemFile.urlSaved" target="_blank"> {{itemFile.name}}</a>
                    <br>
                    <button mat-stroked-button color="warn"
                            style=" position: absolute; right: 8px;color: #4a4a4a  "
                            (click)="onSetDocumentoPrincipalClickListener(itemFile)"

                            [class.is_doc_princpal]="itemFile.isDocPrincipal"

                            aria-label="Example icon button with a heart icon">
                      <span *ngIf="itemFile.isDocPrincipal">DOCUMENTO PRINCIPAL</span>
                      <span *ngIf="!itemFile.isDocPrincipal">ANEXO</span>
                      <!--                      <mat-icon>local_play</mat-icon>-->
                      <mat-icon>{{itemFile.isDocPrincipal ? 'local_play' : 'file_present'}}</mat-icon>

                    </button>

                  </mat-card-title>

                </mat-card-header>
                <mat-card-content class="p-4">
                  Paginas: {{itemFile.numberPages}}

                  <span style="position: absolute; right: 8px ;">
                    Tamaño : {{itemFile.size|convertSizefile}}
                    </span>
                </mat-card-content>
              </mat-card>

            </div>


          </div>


        </mat-card-content>

      </mat-card>


    </div>

    <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
      <br>
      <br>
      <div>
        <button mat-raised-button color="primary"
                matTooltip="REGISTRAR NUEVO EXPEDIENTE"
                matTooltipPosition="left"
                class="col-sm-12"
                (click)="onClickRegistrarExpedienteListener()"

        >

          REGISTRAR NUEVO EXPEDIENTE
          <mat-icon>note_add</mat-icon>
        </button>

      </div>

      <br>
      <br>


    </div>

  </div>


</div>


<br>


<br>
<app-footer></app-footer>
