<h2 mat-dialog-title style="width: 100%!important;">{{title}}</h2>
<div mat-dialog-content>
  <mat-spinner [class.hide]="isHideProggres" style="margin: auto"></mat-spinner>

  <img
    class=""

    height="200px"
    width="100%"
    style="max-width: 700px!important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    "
    [class.hide]="!isHideExtraForm"
    [src]="urlPreview">

  <div
    class="row"
    style="width: 700px!important;

  ">
    <div
      [class.col-sm-6]="istCol6"
      [class.col-sm-12]="istCol12"
    >
      <form class="example-form" style="width: 90%!important; padding: 16px">

        <div class="container">


          <input type="file" style="display: none" #fileInput accept="image/*" (change)="onChangeFileInput()"/>
          <button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
            <mat-icon>attach_file</mat-icon>
            Seleccionar imagen
          </button>

          <p class="file-name" *ngIf="!file; else fileName">No ha Seleccionado Ningun Archivo</p>
          <ng-template #fileName>
            <p class="file-name">{{ file?.name }}</p>
          </ng-template>
          <p>{{porcentaje}}</p>
        </div>

        <table class="" cellspacing="0" style="width: 450px!important;" [class.hide]="isHideExtraForm">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Titulo</mat-label>
                <input matInput #titulo>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Descripcion</mat-label>
                <textarea #descripcion matInput placeholder="Ex. 100 Main St"></textarea>
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Fecha</mat-label>
                <input matInput #fechaActividad type="date">
              </mat-form-field>
              <!--          <input matInput [matDatepicker]="fechaActividad">-->
              <!--          <mat-datepicker #fechaActividad></mat-datepicker>-->
            </td>
          </tr>


        </table>


      </form>

    </div>
    <div class="col-sm-6" [class.hide]="isHideExtraForm">

      <mat-card
        style="width: 97%;height: 95%!important;"
      >
        <img
          class="imgCard"
          [src]="urlPreview">

        <div
          class="card_content">
          <label
            class="fecha_card">
            {{fechaActividad.value|date}}
          </label>
          <br>
          <br>
          <h3> {{titulo.value}}</h3>
          <p class="">
            {{descripcion.value}}
          </p>
        </div>

        <button
          mat-raised-button
          color="primary"
          class="btn_readmore"
        >
          --------------------
        </button>

      </mat-card>


    </div>

  </div>


</div>


<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary"
          [disabled]="!isHideProggres"
          (click)="crear(titulo,descripcion,fileInput,fechaActividad)">
    CREAR
  </button>
</div>
