<mat-toolbar
  style="
         background-color: #742a2a;
         color: white;
         position: fixed;
         z-index: 10;
         margin-top: -20px;

          ">


  <span> <img src="assets/icon.png" alt=""> INGRESO DE DOCUMENTOS </span>
  <span class="example-spacer"></span>


<!--  <button mat-button [matMenuTriggerFor]="menu">-->
<!--    <mat-icon>format_size</mat-icon>-->
<!--  </button>-->
<!--  <mat-menu #menu="matMenu" class="row">-->
<!--    <button mat-menu-item disabled>-->
<!--      <span>Tamaño Fuente</span>-->
<!--    </button>-->
<!--    <button class="col-6" mat-raised-button-->
<!--            (click)="onChangeFontSizeClickListener('up')"-->
<!--    >-->
<!--      <mat-icon>text_rotate_up</mat-icon>-->
<!--    </button>-->
<!--    <button class="col-6" mat-raised-button-->
<!--            (click)="onChangeFontSizeClickListener('do')"-->
<!--    >-->
<!--      <mat-icon>text_rotation_down</mat-icon>-->
<!--    </button>-->
<!--  </mat-menu>-->

  <button mat-icon-button class="example-icon" STYLE="padding-right: 10px"
          (click)="onChangeThemeClickListener()">
    <mat-icon>{{icon_theme}}</mat-icon>
  </button>


  <button
    matBadge="*"
    [matBadgeHidden]="hideBadge"
    (click)="drawer.toggle()"
    mat-button class="example-icon">
    <img [src]="imgUserProfile" class="img_profile" alt="">
    {{username}}

    <mat-icon>menu</mat-icon>

  </button>


</mat-toolbar>

<mat-drawer-container class="example-container" hasBackdrop="false">
  <mat-drawer #drawer
              position="end"
              style="
              width: 100%!important;
              margin-top: 45px;
              min-width: 40px;
              "
              mode="over">
    <mat-selection-list [multiple]="false">
      <mat-list-option *ngFor="let menu of MENU_LIST"
                       (click)="onOptionsMenuClickListener(menu,drawer)">
        <mat-icon
          mat-list-icon>{{menu.icon}}
        </mat-icon>
        {{menu.text}}
      </mat-list-option>
    </mat-selection-list>


  </mat-drawer>

</mat-drawer-container>
<br>
<br>
<br>
