<h2 mat-dialog-title style="width: 100%!important;">{{title}}</h2>
<div mat-dialog-content>

  <div
    class="row"
    style="width: 1000px!important;

  ">
    <div class="col-md-5">
      <form class="example-form" style="width: 90%!important; padding: 16px">


        <table class="" cellspacing="0" style="width: 450px!important;">
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Titulo</mat-label>
                <input matInput #titulo>
              </mat-form-field>
            </td>
          </tr>
          <!--      <tr>-->
          <!--        <td>-->
          <!--          <mat-form-field class="example-full-width">-->
          <!--            <mat-label>Introduccion</mat-label>-->
          <!--            <textarea #introduccion matInput placeholder="Ex. 100 Main St"></textarea>-->
          <!--          </mat-form-field>-->
          <!--        </td>-->
          <!--      </tr>-->
          <tr>
            <td>
              <mat-form-field class="example-full-width">
                <mat-label>Descripcion</mat-label>
                <textarea #descripcion matInput placeholder="Ex. 100 Main St"></textarea>
              </mat-form-field>
            </td>
          </tr>


        </table>
        <div class="container">
          <input type="file" style="display: none" #fileInput accept="image/*" (change)="onChangeFileInput()"/>
          <button mat-raised-button color="primary" class="file-select-button" (click)="onClickFileInputButton()">
            <mat-icon>attach_file</mat-icon>
            Seleccionar imagen
          </button>

          <p class="file-name" *ngIf="!file; else fileName">No ha Seleccionado Ningun Archivo</p>
          <ng-template #fileName>
            <p class="file-name">{{ file?.name }}</p>
          </ng-template>
          <p>{{porcentaje}}</p>
        </div>

      </form>

    </div>
    <div class="col-md-7">

      <mat-card
        style="width: 97%;height: 95%!important;"
      >

        <div
          class="card_content">
          <br>
          <br>
          <h3> {{titulo.value}}</h3>
          <p style="font-weight: normal!important;">
            {{descripcion.value}}
          </p>

          <img
            width="100%"
            class=""
            *ngIf="urlPreview!=''"
            [src]="urlPreview">


        </div>


      </mat-card>


    </div>

  </div>


</div>


<div mat-dialog-actions>
  <button mat-button (click)="cancelar()">Cancelar</button>
  <button mat-raised-button color="primary"
          (click)="crear(titulo,descripcion,fileInput)">
    CREAR
  </button>
</div>
