<style>

  .footer-primary-color {
    color: white;

  }

  .center {
    bottom: 0;
    margin: auto 0 !important;
  }
</style>
<div
  class="primary_color_footer">
  <div class="row container-fluid ">
    <div class="col-sm-4 center" style="margin: auto!important;">
      <br>
      <div class="col-sm-12">


        <mat-list role="list">

          <mat-list-item role="listitem">Direccion :

            <span
              style="position: absolute;right: 8px;  color: #c1c1c1"> {{dataContancto["direccion"]}}
                  </span>
          </mat-list-item>

          <mat-list-item role="listitem">Telefono :

            <span
              style="position: absolute;right: 8px;  color: #c1c1c1"> {{dataContancto["telefono"]}}
                  </span>

          </mat-list-item>
          <mat-list-item role="listitem">Email :
            <span
              style="position: absolute;right: 8px;  color: #c1c1c1"> {{dataContancto["email"]}}
                  </span>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="col-sm-4 center" style="margin: auto!important;">
      Current Version: 0.0.1

    </div>
    <div class="col-sm-4 center" style="margin: auto!important;">
      Powered by PJ Developers ©2020.

    </div>
  </div>
  <br>
  <br>
</div>


