
<app-navline></app-navline>
<div class="container">
  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="MAIN">
      <div style="width: 80% ; max-width: 85%;margin: auto">

        <h2>IMAGENES DESLIZANTES
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                  style="margin-left: 30px">
            <mat-icon
              matTooltip="Agregar nuevo"
              matTooltipPosition="right"
              matTooltipClass="example-tooltip-background"
              (click)="showCreateDialog('SL')"
            >add_to_photos
            </mat-icon>
          </button>
        </h2>


        <app-admin-slider></app-admin-slider>


        <div>

          <h2>ACTIVIDADES
            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                    style="margin-left: 30px">
              <mat-icon
                matTooltip="Agregar nuevo"
                matTooltipPosition="right"
                matTooltipClass="example-tooltip-background"
                (click)="showCreateDialog('AC')"
              >add_to_photos
              </mat-icon>
            </button>
          </h2>


          <div style="position: absolute !important; right:4% !important;">
            <button mat-icon-button color="warn" [class.hide]="activdadSelectedList.length<2"
                    aria-label="Example icon button with a heart icon">
              <mat-icon
                (click)="removeAllItems('AC')"
                matTooltip="Eliminar Toda la lista"
                matTooltipPosition="left"
                matTooltipClass="example-tooltip-red">
                delete
              </mat-icon>


            </button>
            <mat-checkbox
              (change)="setChangeAllSeleccionListenesr($event.checked,'AC')" [checked]="isCheckedAllACtividad">
              Seleccionar todos
            </mat-checkbox>
          </div>
          <br>
        </div>


        <mat-accordion style="margin-top: 60px">
          <mat-expansion-panel hideToggle *ngFor="let itemActividad of actividadListIndex  ,let postition=index"
          >
            <mat-expansion-panel-header>
              <mat-panel-title style="max-height: 100px!important;">
                <div class="col-sm-12 col-md-10">
                  <div class="row">

                    <p
                      style="padding-left: 20px!important;height: auto!important;"
                      class="col-md-12">
                      <mat-icon mat-list-icon class="col-md-2">
                        summarize
                      </mat-icon>
                      {{itemActividad.titulo}}
                    </p>
                  </div>
                </div>
                <div mat-line
                     class="col-md-2 col-sm-12"
                     style="
               padding-left: 20px;
               position: absolute !important;
               right: 100px!important;
               top: 10px!important;"> {{itemActividad.dateRegister}} </div>
              </mat-panel-title>
              <mat-panel-description>
                <div [class.hide]="false" data-item-position="fabOptions_{{postition}}">
                  <button mat-icon-button color="warn"
                          style="position: absolute !important; right: 30px!important;top: 0px!important;"
                          aria-label="Example icon button with a heart icon">
                    <mat-icon
                      (click)="removeItem(itemActividad,postition,'AC')"
                      matTooltip="eliminar"
                      matTooltipPosition="right"
                      matTooltipClass="example-tooltip-red"
                    >delete
                    </mat-icon>
                  </button>
                  <mat-checkbox
                    style="position: absolute !important; right: 10px!important;top: 10px!important;"
                    [checked]="itemActividad.checked"
                    (change)="setChangeItemListenesr($event.checked, itemActividad,postition)">
                  </mat-checkbox>
                </div>
              </mat-panel-description>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-2 col-sm-4">
                <img src="{{itemActividad.urlDecode}}" alt="" width="100%" *ngIf="itemActividad.urlDecode"
                     (click)="showModalImage(itemActividad.urlDecode)">
              </div>
              <div class="col-md-10 col-sm-8">
                <p>
                  {{itemActividad.dsc}}
                </p>
              </div>
            </div>


            <mat-card-content>
              <h3>PARRAFOS
                <button mat-mini-fab color="primary"
                        aria-label="Example icon button with a menu icon"
                        style="margin-left: 50px;">
                  <mat-icon
                    matTooltip="Agregar parrafo"
                    matTooltipPosition="right"
                    matTooltipClass="example-tooltip-background"
                    (click)="showCreateDetailDialog('D_ACT',itemActividad.id)"
                  >post_add
                  </mat-icon>
                </button>
              </h3>

              <!--        -->
              <!--        <img *ngFor="let item of itemActividad.childList" mat-card-image-->
              <!--             style="margin: 2px;"-->
              <!--             mat-card-sm-image-->
              <!--             width="10%"-->
              <!--             (click)="showModalImage(item.url)"-->
              <!--             src="{{item.url}}"-->
              <!--             alt="Photo of a Shiba Inu"/>-->
              <div class="row flex-row flex-nowrap " style="overflow: auto">
                <mat-card class="col-md-6 col-sm-10" style="padding: 8px !important;"
                          *ngFor="let itemChild of itemActividad.childList">
                  <mat-card-content>
                    <mat-card-content>
                      <div>
                        <mat-card-subtitle>
                          {{itemChild.titulo}}
                        </mat-card-subtitle>
                        <p>
                          {{itemChild.dsc}}
                        </p>
                        <img src="{{itemChild.urlDecode}}" alt="" width="100%" *ngIf="itemChild.urlDecode"
                             (click)="showModalImage(itemChild.urlDecode)">
                      </div>
                    </mat-card-content>
                  </mat-card-content>
                </mat-card>
              </div>
            </mat-card-content>
          </mat-expansion-panel>

        </mat-accordion>

        <mat-paginator [length]="actividadListIndex.length"
                       [pageSize]="pageSizeActividad"
                       (change)="getActividadesByPageSize('AG')"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>


        <div>
          <h2>AGENDA

            <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                    style="margin-left: 30px">
              <mat-icon
                matTooltip="Agregar nuevo"
                matTooltipPosition="right"
                matTooltipClass="example-tooltip-background"
                (click)="showCreateDialog('AG')"
              >add_to_photos
              </mat-icon>
            </button>
          </h2>
          <div style="position: absolute !important; right:4% !important;">
            <button mat-icon-button color="warn" [class.hide]="agendaSelectedList.length<2"
                    aria-label="Example icon button with a heart icon">
              <mat-icon
                (click)="removeAllItems('AG')"
                matTooltip="Eliminar Toda la lista"
                matTooltipPosition="left"
                matTooltipClass="example-tooltip-red">
                delete
              </mat-icon>
            </button>
            <mat-checkbox
              (change)="setChangeAllSeleccionListenesr($event.checked,'AG')" [checked]="isCheckedAllAgenda">
              Seleccionar todos
            </mat-checkbox>
          </div>
          <BR>

          <mat-accordion style="margin-top: 60px">
            <mat-expansion-panel hideToggle *ngFor="let itemag of agendaListIndex  ,let postition=index"
                                 (mouseover)="setHidebutonAdmin(false,itemag)"
                                 (mouseout)="setHidebutonAdmin(true,itemag)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <mat-icon mat-list-icon>date_range</mat-icon>
                  <div mat-line style="padding-left: 20px">{{itemag.titulo}}</div>
                  <br>
                  <div mat-line
                       style="
               padding-left: 20px;
               position: absolute !important;
               right: 100px!important;
               top: 10px!important;"> {{itemag.dateRegister}} </div>
                </mat-panel-title>
                <mat-panel-description>
                  <div [class.hide]="false" data-item-position="fabOptions_{{postition}}">
                    <button mat-icon-button color="warn"
                            style="position: absolute !important; right: 30px!important;top: 0px!important;"
                            aria-label="Example icon button with a heart icon">
                      <mat-icon
                        (click)="removeItem(itemag,postition,'AG')"
                        matTooltip="eliminar"
                        matTooltipPosition="right"
                        matTooltipClass="example-tooltip-red"
                      >delete
                      </mat-icon>
                    </button>
                    <mat-checkbox
                      style="position: absolute !important; right: 10px!important;top: 10px!important;"
                      [checked]="itemag.checked"
                      (change)="setChangeItemListenesr($event.checked, itemag,postition)">
                    </mat-checkbox>
                  </div>
                </mat-panel-description>
              </mat-expansion-panel-header>
              <div class="col-md-3">
                <img src="{{itemag.urlDecode}}" alt="" height="100px" *ngIf="itemag.urlDecode"
                     (click)="showModalImage(itemag.urlDecode)">
              </div>
              <div class="col-md-9">
                <p>
                  {{itemag.dsc}}
                </p>
              </div>


              <mat-card-content>
                <h3>PARRAFOS
                  <button mat-mini-fab color="primary"
                          aria-label="Example icon button with a menu icon"
                          style="margin-left: 50px;">
                    <mat-icon
                      matTooltip="Agregar parrafo"
                      matTooltipPosition="right"
                      matTooltipClass="example-tooltip-background"
                      (click)="showCreateDetailDialog('D_AGE',itemag.id)"
                    >post_add
                    </mat-icon>
                  </button>
                </h3>

                <!--        -->
                <!--        <img *ngFor="let item of itemActividad.childList" mat-card-image-->
                <!--             style="margin: 2px;"-->
                <!--             mat-card-sm-image-->
                <!--             width="10%"-->
                <!--             (click)="showModalImage(item.url)"-->
                <!--             src="{{item.url}}"-->
                <!--             alt="Photo of a Shiba Inu"/>-->
                <div class="row flex-row flex-nowrap " style="overflow: auto">
                  <mat-card class="col-md-6" style="padding: 8px !important;"
                            *ngFor="let itemChild of itemag.childList">
                    <mat-card-content>
                      <mat-card-content>
                        <div>
                          <mat-card-subtitle>
                            {{itemChild.titulo}}
                          </mat-card-subtitle>
                          <p>
                            {{itemChild.dsc}}
                          </p>
                          <img src="{{itemChild.urlDecode}}" alt="" width="100%" *ngIf="itemChild.urlDecode"
                               (click)="showModalImage(itemChild.urlDecode)">
                        </div>
                      </mat-card-content>
                    </mat-card-content>
                  </mat-card>
                </div>


              </mat-card-content>


            </mat-expansion-panel>

          </mat-accordion>

          <mat-paginator [length]="agendaListIndex.length"
                         [pageSize]="pageSizeAgenda"
                         (change)="getActividadesByPageSize('AG')"
                         [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

        </div>


      </div>
    </mat-tab>
    <mat-tab label="CONTACTO">
      <app-admin-contacto></app-admin-contacto>
    </mat-tab>
    <mat-tab label="QUIENES SOMOS">
      <app-admin-aboutus></app-admin-aboutus>
    </mat-tab>
  </mat-tab-group>
</div>




